html {
  position: relative;
  width: 100px;
  color: red;
  background-color: #fff;
}

@mixin border($type) {
  width: 100px;
  color: red;
  @content;
}

@include border() {
  width: 100px;
  color: red;
}
