/**
 * GitHub's theme skeleton for prism.js
 */

:root {
  --color-fg-default: #24292f;
  --color-bg-code-block: #f6f8fa;
  --color-bg-inline-code-block: rgb(245 247 250 / 100%);
  --color-gray: #6e7781;
  --color-red: #cf222e;
  --color-green: #116329;
  --color-blue: #0550ae;
  --color-indigo: #0a3069;
  --color-purple: #8250df;
  --color-brown: #953800;
}

.dark {
  --color-fg-default: #c9d1d9;
  --color-bg-code-block: #161b22;
  --color-bg-inline-code-block: rgb(110 118 129 / 40%);
  --color-gray: #8b949e;
  --color-red: #ff7b72;
  --color-green: #7ee787;
  --color-blue: #79c0ff;
  --color-indigo: #a5d6ff;
  --color-purple: #d2a8ff;
  --color-brown: #ffa657;
}

div[class*='language-'] {
  position: relative;
  width: 100%;
  padding: 16px;
  margin-top: 0.5rem;
  background-color: var(--color-bg-code-block);
  font-size: 14px;
  overflow: auto;

  &:before {
    content: attr(language);
    position: absolute;
    top: 0.4em;
    right: 0.8em;
    z-index: 2;
    opacity: 0.7;
    font-size: 14px;
    color: var(--color-gray);
  }

  > pre {
    margin: 0;
    padding: 0.25rem;

    code {
      line-height: 1.55rem;
      background-color: transparent;
    }
  }
}

// 标签
:not(pre) > code {
  margin: 0;
  border-radius: 4px;
  padding: 0.15rem 0.5rem;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-bg-inline-code-block);
}

.token.comment,
.token.prolog,
.token.cdata {
  color: var(--color-gray);
}

.token.doctype,
.token.punctuation,
.token.entity {
  color: var(--color-fg-default);
}

.token.attr-name,
.token.class-name,
.token.boolean,
.token.constant,
.token.number,
.token.atrule {
  color: var(--color-blue);
}

.token.keyword {
  color: var(--color-indigo);
}

.token.property,
.token.tag,
.token.symbol,
.token.deleted,
.token.important {
  color: var(--color-green);
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.regex,
.token.attr-value,
.token.attr-value > .token.punctuation {
  color: var(--color-blue);
}

.token.variable,
.token.operator,
.token.function {
  color: var(--color-indigo);
}

.token.url {
  color: var(--color-green);
}

/* HTML overrides */
.token.attr-value > .token.punctuation.attr-equals,
.token.special-attr > .token.attr-value > .token.value.css {
  color: var(--color-fg-default);
}

/* CSS overrides */
.language-css .token.selector {
  color: var(--color-green);
}

.language-css .token.property {
  color: var(--color-blue);
}

.language-css .token.important,
.language-css .token.atrule .token.rule {
  color: var(--color-red);
}

/* JS overrides */
.language-js .token.keyword,
.language-javascript .token.keyword {
  color: var(--color-red);
}

.language-js .token.operator,
.language-js .token.constant,
.language-js .token.boolean,
.language-js .token.number,
.language-js .token.atrule,
.language-javascript .token.operator,
.language-javascript .token.constant,
.language-javascript .token.boolean,
.language-javascript .token.number,
.language-javascript .token.atrule {
  color: var(--color-blue);
}

.language-js .token.function,
.language-javascript .token.function {
  color: var(--color-purple);
}

.language-js .token.attr-name,
.language-js .token.class-name,
.language-js .token.function-variable,
.language-javascript .token.attr-name,
.language-javascript .token.class-name,
.language-javascript .token.function-variable {
  color: var(--color-brown);
}

/* JSX overrides */
.language-jsx .token.keyword {
  color: var(--color-red);
}

.language-jsx .token.function {
  color: var(--color-purple);
}

.language-jsx .token.function-variable {
  color: var(--color-brown);
}

.language-jsx .token.punctuation {
  color: var(--color-blue);
}

.language-jsx .token.attr-name,
.language-jsx .token.class-name {
  color: var(--color-green);
}

.language-jsx .token.string {
  color: var(--color-indigo);
}

/* JSON overrides */
.language-json .token.operator {
  color: var(--color-fg-default);
}

.language-json .token.null.keyword {
  color: var(--color-blue);
}

/* Java overrides */
.language-java .token.keyword {
  color: var(--color-red);
}

.language-java .token.operator,
.language-java .token.constant,
.language-java .token.boolean,
.language-java .token.number,
.language-java .token.atrule {
  color: var(--color-blue);
}

.language-java .token.function {
  color: var(--color-purple);
}

.language-java .token.attr-name,
.language-java .token.function-variable {
  color: var(--color-green);
}

/* Kotlin overrides */
.language-kotlin .token.keyword {
  color: var(--color-red);
}

.language-kotlin .token.operator,
.language-kotlin .token.constant,
.language-kotlin .token.boolean,
.language-kotlin .token.number,
.language-kotlin .token.atrule {
  color: var(--color-blue);
}

.language-kotlin .token.function {
  color: var(--color-purple);
}

.language-kotlin .token.attr-name,
.language-kotlin .token.function-variable {
  color: var(--color-green);
}

/* Go overrides */
.language-go .token.keyword {
  color: var(--color-red);
}

.language-go .token.operator,
.language-go .token.constant,
.language-go .token.boolean,
.language-go .token.number,
.language-go .token.atrule {
  color: var(--color-blue);
}

.language-go .token.function {
  color: var(--color-purple);
}

.language-go .token.attr-name,
.language-go .token.function-variable {
  color: var(--color-green);
}

/* YAML overrides */
.language-yml .token.atrule,
.language-yaml .token.atrule {
  color: var(--color-green);
}

/* Dockerfile overrides */
.language-dockerfile .token.keyword {
  color: var(--color-red);
}

.language-dockerfile .token.function {
  color: var(--color-purple);
}

.language-dockerfile .token.punctuation {
  color: var(--color-blue);
}

.language-dockerfile .token.attr-name,
.language-dockerfile .token.class-name {
  color: var(--color-green);
}

.language-dockerfile .token.string {
  color: var(--color-indigo);
}

/* General */
.token.bold {
  font-weight: bold;
}

.token.comment,
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.namespace {
  opacity: 0.8;
}
