.vp-table {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;

  & > table {
    border-collapse: collapse;
    width: 100%;
    background-color: var(--bg-color);
    font-size: 14px;
    line-height: 1.5em;

    tr {
      td:nth-child(2) {
        font-family: var(--font-family);
      }
    }

    th,
    td {
      white-space: nowrap;
      border-top: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
      padding: 0.6em 1em;
      text-align: left;
      max-width: 250px;
      white-space: pre-wrap;
    }

    thead tr:first-child th {
      border-top: none;
    }

    tbody tr td:first-child {
      font-family: var(--font-family-mono);
    }
  }
}

// 自定义 tag
.vp-tag {
  --vp-tag-color: var(--bn-primary);
  --vp-tag-border-color: var(--bn-primary);

  display: inline-block;
  padding: 0 7px;
  border-radius: 10px;
  border: 1px solid var(--vp-tag-border-color);
  font-size: 12px;
  color: var(--vp-tag-color);
  line-height: 18px;
  white-space: nowrap;

  &.is-beta {
    --vp-tag-color: var(--bn-warning);
    --vp-tag-border-color: var(--bn-warning);
  }

  &.is-delete {
    --vp-tag-color: var(--bn-danger);
    --vp-tag-border-color: var(--bn-danger);
  }
}

.card-demo-area {
  min-height: 100px;
  width: 100%;
  padding: 20px;
  background-color: rgba(245, 247, 251, 1);
}
