
$scrollbar-size: 8px;

::-webkit-scrollbar {
  width: $scrollbar-size;
}

::-webkit-scrollbar:horizontal {
  height: $scrollbar-size;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #edf1f6;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: #edf1f6;
  }
}

.dark {
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}