@use './mixins/bem.scss' as *;

@include b(badge) {
  --bn-badge-color: #fff;
  --bn-badge-background-color: var(--bn-danger);
  --bn-badge-padding: 0 6px;
  --bn-badge-radius: 10px;
}

@mixin set-type($type) {
  @include m($type) {
    --bn-badge-background-color: var(--bn-#{$type});
  }
}

@mixin set-light-effect($type) {
  &.#{$namespace}-badge--#{$type} {
    --bn-badge-background-color: var(--bn-#{$type}-8);
    --bn-badge-color: var(--bn-#{$type});
  }
}

@include b(badge) {
  position: relative;
  display: inline-flex;

  @include e(content) {
    position: absolute;
    top: 0;
    right: 10px;
    border-radius: var(--bn-badge-radius);
    padding: var(--bn-badge-padding);
    font-size: 12px;
    text-align: center;
    color: var(--bn-badge-color);
    background-color: var(--bn-badge-background-color);
    box-sizing: border-box;
    transform: translate(100%, -50%);

    &.is-dot {
      right: 5px;
      padding: 0;
      width: 8px;
      height: 8px;
    }

    &.is-light {
      @include set-light-effect(primary);
      @include set-light-effect(success);
      @include set-light-effect(warning);
      @include set-light-effect(strong);
      @include set-light-effect(danger);
    }
  }

  @include set-type(primary);
  @include set-type(success);
  @include set-type(warning);
  @include set-type(strong);
  @include set-type(danger);
}
