@use './mixins/bem.scss' as *;

@include b(cascader) {
  display: inline-block;

  @include e(trigger) {
    position: relative;
  }

  @include e(multiple) {
    position: absolute;
    top: 50%;
    right: 30px;
    left: 0;
    z-index: 1;
    display: flex;
    padding: 6px;
    text-align: left;
    transform: translateY(-50%);
    line-height: normal;
    box-sizing: border-box;
    pointer-events: none;
    flex-wrap: wrap;
    gap: 4px;
  }

  @include e(tag) {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 4px 6px 4px 12px;
    max-width: 150px;
    font-size: 14px;
    background: var(--bn-background-color);
    flex-shrink: 0;
    gap: 4px;
    pointer-events: none;
    user-select: none;

    .bn-icon {
      border-radius: 50%;
      padding: 1px;
      width: 14px;
      height: 14px;
      color: #c4c9d6;
      transition: all 0.15s ease;
      box-sizing: border-box;
      cursor: pointer;
      line-height: 1;
      pointer-events: all;

      &:hover {
        color: #fff;
        background-color: #d9dbe1;
      }
    }
  }

  @include e(tag-text) {
    overflow: hidden;
    font-size: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: inherit;
    flex-grow: 1;
  }

  @include e(icon-caret) {
    transition: transform 0.3s ease;

    &.is-rotate {
      transform: rotate(180deg);
    }
  }
}

@include b(cascader-panel) {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 8px 40px 0 rgb(100 107 122 / 15%);

  @include e(content) {
    display: flex;
  }

  @include e(column) {
    position: relative;
    border-right: 1px solid transparent;
    min-width: 180px;
    min-height: 220px;
    max-height: 200px;
    background-color: #fff;
    box-sizing: border-box;

    &:not(:last-child) {
      border-color: var(--bn-background-color);
    }
  }

  @include e(list) {
    box-sizing: border-box;
    margin: 0;
    padding: 12px 0;
  }

  @include e(option) {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    font-size: var(--bn-font-size);
    color: var(--bn-color-1);
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;

    > .bn-checkbox {
      margin-right: 8px;
    }

    &:hover:not(.is-disabled) {
      background-color: var(--bn-background-color);
    }

    &.is-active {
      background-color: var(--bn-background-color);
    }

    &.is-disabled {
      color: var(--bn-disabled-color);
      cursor: not-allowed;
    }
  }

  @include e(option-label) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }

  @include e(footer) {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--bn-border-color);
    padding: 12px 24px;
    background-color: #fff;
    box-sizing: border-box;
  }

  @include e(empty) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.cascader-slide-enter-active,
.cascader-slide-leave-active {
  transition: margin 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
}

.cascader-slide-enter-from,
.cascader-slide-leave-to {
  margin-left: -180px;
}

.cascader-slide-enter-to,
.cascader-slide-leave-from {
  // transform: translate(0, 0);
  margin-left: 0;
}
