@use './mixins/bem.scss' as *;

@include b(checkbox) {
  --bn-checkbox-disabled-background-color-1:#f5f7fb;
  --bn-checkbox-disabled-background-color-2:#ebedf1;
  --bn-checkbox-disabled-border-color:#e2e4e8;
  --bn-checkbox-size: 16px;
}

@include b(checkbox) {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  user-select: none;
  vertical-align: middle;
  
  @include e(icon) {
    position: relative;
    border: 1px solid #9ca6b9;
    border-radius: 2px;
    width: var(--bn-checkbox-size);
    height: var(--bn-checkbox-size);
    box-sizing: border-box;

    &:hover {
      border-color: var(--bn-primary);
    }

    &--half {
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 1px;
        width: calc(var(--bn-checkbox-size) * 0.375);
        height: calc(var(--bn-checkbox-size) * 0.375);
        background-color: var(--bn-primary);
        content: '';
        transform: translate(-50%, -50%);
      }
    }

    &--checked {
      border-color: var(--bn-primary);
      background-color: var(--bn-primary);

      &::after {
        position: absolute;
        top: 14%;
        left: 34%;
        border: 2px solid #fff;
        border-top: 0;
        border-left: 0;
        width: 18.75%;
        height: 47.75%;
        box-sizing: content-box;
        content: '';
        transform: rotate(45deg) scaleY(1);
        transform-origin: center;
      }
    }
  }

  @include e(label) {
    padding-left: 8px;
    font-size: var(--bn-font-size);
    line-height: 1;
  }

  @include e(origin) {
    position: absolute;
    z-index: -1;
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
    outline: none;
  }

  @include when(checked) {
    .#{$namespace}-checkbox__label {
      color: var(--bn-primary);
    }
  }

  @include when(disabled) {
    cursor: not-allowed;

    .#{$namespace}-checkbox__label {
      color: var(--bn-color-4);
    }

    .#{$namespace}-checkbox__icon {
      border-color: var(--bn-checkbox-disabled-border-color);

      &--square {
        background-color: var(--bn-checkbox-disabled-background-color-1);
      }

      &--checked {
        background-color: var(--bn-checkbox-disabled-background-color-2);
      }

      &--half {
        background-color: var(--bn-checkbox-disabled-background-color-2);

        &::after {
          background-color: #fff;
        }
      }
    }
  }
}

@include b(checkbox-group) {
  display: inline-flex;
  flex-wrap: wrap;
  vertical-align: middle;

  .#{$namespace}-checkbox + .#{$namespace}-checkbox {
    margin-left: 15px;
  }
}
