@import './mixins/bem.scss';

@include b(checkbox) {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  user-select: none;
  vertical-align: middle;

  @include e(icon) {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    position: relative;
    border: 1px solid #9CA6B9;
    &:hover {
      border-color: var(--bn-primary);
    }
    &--half {
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 6px;
        height: 6px;
        background-color: var(--bn-primary);
        border-radius: 1px;
      }
    }

    &--checked {
      background-color: var(--bn-primary);
      border-color: var(--bn-primary);
      &::after {
        box-sizing: content-box;
        content: "";
        border: 2px solid #fff;
        border-left: 0;
        border-top: 0;
        position: absolute;
        left: 5px;
        top: 1px;
        height: 7px;
        width: 3px;
        transform: rotate(45deg) scaleY(1);
        transform-origin: center;
      }
    }

  }

  @include e(label) {
    padding-left: 8px;
  }

  @include e(origin) {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
  }


  @include when(checked) {
    .#{$namespace}-checkbox__label {
      color: var(--bn-primary);
    }
  }

  @include when(disabled) {
    cursor: not-allowed;
    pointer-events: none;

    .#{$namespace}-checkbox__label {
      color: var(--bn-color-4);
    }

    .#{$namespace}-checkbox__icon {
      &--checked {
        background-color: #ebedf1;
        border-color: #e2e4e8;

      }

      &--square {
        background-color: #f5f7fb;
        border-color: #e2e4e8;
      }
    }
  }




}

@include b(checkbox-group) {
  .#{$namespace}-checkbox+.#{$namespace}-checkbox {
    margin-left: 15px;
  }
}