@use './mixins/bem.scss' as *;


@mixin cell-text-active () {
  .#{$namespace}-date-picker__cell-text {
    border-radius: var(--bn-date-cell-text-border-radius);
    color: #fff;
    background-color: var(--bn-primary);
  }
}

@mixin ie ($element) {
  .#{$namespace}-date-picker__#{$element} {
    @content
  }

}

@include b(date-picker__panel) {
  --bn-date-cell-range-background-color: rgb(0 86 255 / 10%);
  --bn-date-cell-disabled-background-color:#f5f7fa;
  --bn-date-cell-text-gray: rgb(168 171 178 / 80%);
  --bn-date-cell-text-border-radius: 50%;
  --bn-date-cell-row-space: 7px;
  --bn-date-cell-range-border-radius: 50%;
  --bn-date-cell-height: 34px;
  --bn-date-cell-width: 36px;
  --bn-date-cell-text-width: 25px;
  --bn-date-cell-text-height: 25px;


  &.is-month, 
  &.is-monthrange {
    --bn-date-cell-width: 68px;
    --bn-date-cell-row-space: 16px;
    --bn-date-cell-text-width: 58px;
    --bn-date-cell-text-height: 25px;
    --bn-date-cell-text-border-radius: calc(var(--bn-date-cell-text-height) / 2);
    --bn-date-cell-range-border-radius: calc(var(--bn-date-cell-height) / 2);
  }

  &.is-week {
    @include ie(cell-row) {
      &.is-disabled {
        cursor: not-allowed;

        @include ie(cell) {
          pointer-events: none;
        }
      }

      &:not(.is-disabled):hover {
        cursor: pointer;

        @include ie(cell) {
          pointer-events: none;
          background-color: var(--bn-date-cell-range-background-color);

          &:first-child {
            border-top-left-radius: calc(var(--bn-date-cell-height) / 2);
            border-bottom-left-radius: calc(var(--bn-date-cell-height) / 2);
          }

          &:last-child {
            border-top-right-radius: calc(var(--bn-date-cell-height) / 2);
            border-bottom-right-radius: calc(var(--bn-date-cell-height) / 2);
          }

        } 
      }
    }
    
  }
}


@include b(date-picker) {
  display: inline-block;  

  @include e(panel) {
    border-radius: 8px;
    padding: 20px 20px 15px;
    background-color: #fff;
    box-shadow: 0 8px 40px 0 rgb(100 107 122 / 15%);
    box-sizing: border-box;
  }

  @include e(header) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    font-size: 14px;
  }


  @include e(header-left) {
    display: flex;
    color: var(--bn-color-3);
    gap: 14px;

     i {
      cursor: pointer;

      &:hover {
        color: var(--bn-primary);
      }
    }
  }

  @include e(header-right) {
    display: flex;
    color: var(--bn-color-3);
    gap: 14px;

     i {
      cursor: pointer;

      &:hover {
        color: var(--bn-primary);
      }
    }
  }

  @include e(header-icon) {
    width: 14px;
    height: 14px;
    font-size: 14px;
  }

  @include e(header-content) {
    font-weight: 500;
    text-align: center;
    color: var(--bn-color-1);
    flex-grow: 1;
    user-select: none;
  }

  @include e(week) {
    display: flex;
    border-bottom: 1px solid var(--bn-split-color);
    padding-top: 20px;
    padding-bottom: 16px;
    
  }

  @include e(week-cell) {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--bn-date-cell-width);
    font-size: 12px;
    color: var(--bn-text-color);
    line-height: 1;
    user-select: none;
  }

  @include e(cell-row) {
    display: flex;

    & + & {
      margin-top: var(--bn-date-cell-row-space);
    }
  }

  @include e(cell) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--bn-date-cell-width);
    height: var(--bn-date-cell-height);
    font-size: 12px;
    color: var(--bn-text-color);
    user-select: none;
    cursor: pointer;

    &.is-cur:not(.is-select, .is-range-start, .is-range-end, .is-disabled):hover{
      color: var(--bn-primary);
    }

    &.is-prev,
    &.is-next
    { 
      color: var(--bn-date-cell-text-gray);
    }

    &.is-now {
      color: var(--bn-primary);
    }


    &.is-select:not(.is-range-start, .is-range-end) {
       @include cell-text-active()
    }

    &.is-range {
      background-color: var(--bn-date-cell-range-background-color);
    }

    &.is-range-start {
      border-top-left-radius: var(--bn-date-cell-range-border-radius);
      border-bottom-left-radius: var(--bn-date-cell-range-border-radius);

      @include cell-text-active()
    }

    &.is-range-end {
      border-top-right-radius: var(--bn-date-cell-range-border-radius);
      border-bottom-right-radius: var(--bn-date-cell-range-border-radius);

      @include cell-text-active()

    }

    &.is-disabled {
      color: var(--bn-date-cell-text-gray);
      background-color: var(--bn-date-cell-disabled-background-color);
      cursor: default;
      pointer-events: none;
    }
  }

  @include e(cell-text) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--bn-date-cell-text-width);
    height: var(--bn-date-cell-text-height);
    line-height: 1;
    color: inherit;
  }

  @include e(body) {
    padding-top: 8px;
    box-sizing: border-box;
  }

  @include e(range) {
    position: relative;
    display: flex;
    gap: 40px;

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background-color:var(--bn-color-6);
      content: '';
      transform: translate(-50%, 0);
    }
  }
}



