@use './mixins/bem.scss' as *;

@include b(dialog) {
  --bn-mask-background-color: rgb(29 33 41 / 60%);
  --bn-dialog-radius: 8px;
}

@include b(dialog) {
  position: fixed;
  inset: 0;

  @include e(mask) {
    position: absolute;
    inset: 0;
    background-color: var(--bn-mask-background-color);
  }

  @include e(wrapper) {
    position: absolute;
    inset: 0;
    overflow: auto;
    text-align: center;

    &.is-center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @include e(container) {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: var(--bn-dialog-radius);
    background-color: #fff;
    transition: top 0.3s;

    &.is-fullscreen {
      display: inline-flex;
      border-radius: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;

      .#{$namespace}-dialog__footer {
        margin-top: auto;
      }
    }
  }

  @include e(header) {
    position: relative;
    padding: 24px 48px 0 24px;
    text-align: left;
    box-sizing: border-box;

    &-title {
      overflow: hidden;
      font-size: 18px;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1;
    }
  }

  @include e(body) {
    padding: 32px 28px 48px;
    box-sizing: border-box;
    text-align: left;
  }

  @include e(footer) {
    display: flex;
    justify-content: flex-end;
    padding: 0 28px 24px;
  }

  @include e(close-icon) {
    position: absolute;
    top: 24px;
    right: 20px;
    width: 16px;
    height: 16px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 1px;
      height: 100%;
      background-color: #9ca6b9;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      width: 1px;
      height: 100%;
      background-color: #9ca6b9;
    }
  }
}
