@import './mixins/bem.scss';

@include b(drawer) {
  --bn-mask-background-color: rgba(29, 33, 41, .6);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  @include e(mask) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bn-mask-background-color);

  }

  @include e(container) {
    position: absolute;
    overflow: auto;
    background-color: #fff;
    box-shadow: -10px 0px 40px 0px rgba(100, 107, 122, 0.15);

    &.is-template {
      display: inline-flex;
      flex-direction: column;
    }

    &.is-right {
      top: 0;
      right: 0;
      bottom: 0;
    }

    &.is-left {
      top: 0;
      left: 0;
      bottom: 0;
    }

    &.is-top {
      top: 0;
      left: 0;
      right: 0;
    }

    &.is-bottom {
      bottom: 0;
      left: 0;
      right: 0;
    }

  }

  @include e(close-icon) {
    position: absolute;
    right: 28px;
    top: 26px;
    width: 16px;
    height: 16px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 1px;
      height: 100%;
      background-color: #9CA6B9;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      width: 1px;
      height: 100%;
      background-color: #9CA6B9;
    }
  }

  @include e(header) {
    box-sizing: border-box;
    height: 68px;
    line-height: 68px;
    padding-left: 28px;
    border-bottom: 1px solid #EDF1F6;
  }


  @include e(title) {
    color: #242934;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
  }

  @include e(footer) {
    box-sizing: border-box;
    padding: 20px 28px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px 0px rgba(100, 107, 122, 0.15);
    margin-top: auto;

    &.is-left,
    &.is-top,
    &.is-bottom {
      display: flex;
      justify-content: flex-end;
    }
  }


}