@import './mixins/bem.scss';



@include b('form') {

  @include m(inline) {
    width: auto;
    .#{$namespace}-form-item {
      display: inline-block;
      margin-right: 10px;
      vertical-align: top;
    }

    .#{$namespace}-form-item__content {
      display: inline-flex;
      vertical-align: top;
    }

  }

  @include m(top) {
    .#{$namespace}-form-item__label {
      float: none;
      display: inline-block;
      text-align: left;
    }
  }

  @include m(left) {
    .#{$namespace}-form-item__label {
      text-align: left;
    }
  }
}


@include b('form-item') {
  --bn-form-item-font-size: 14px;
  --bn-form-item-error-color: var(--bn-danger);
  --bn-form-item-error-font-size: 12px;
  --bn-form-item-line-height:40px;
  --bn-form-item-required-color: #f56c6c;
}

@include b('form-item') {

  margin-bottom: 22px;

  // 嵌套表单不给marginBottom
  .#{$namespace}-form-item {
    margin-bottom: 0;
  }


  @include e(label) {
    text-align: right;
    vertical-align: middle;
    font-size: var(--bn-form-item-font-size);
    color: var(--bn-text-color);
    padding: 0 12px 0 0;
    box-sizing: border-box;
    line-height: var(--bn-form-item-line-height);
    float: left;
  }

  @include e(content) {
    position: relative;
    line-height: var(--bn-form-item-line-height);
  }

  @include e(error) {
    color: var(--bn-form-item-error-color);
    font-size: var(--bn-form-item-error-font-size);
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    left: 0;
  }

  @include when(required) {
    .#{$namespace}-form-item__label:before {
      content: "*";
      color: var(--bn-form-item-required-color);
      margin-right: 4px;
    }
  }

  @include when(error) {

    .#{$namespace}-input__inner,
    .#{$namespace}-textarea__inner {
      border-color: var(--bn-form-item-error-color);
    }
  }
}