@use './mixins/bem.scss' as *;

@include b(icon) {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  line-height: 1em;
  fill: currentcolor;

  > svg {
    fill: currentcolor;
    width: 1em;
    height: 1em;
    vertical-align: bottom;
  }

  &-loading {
    animation: bn-rotating 1s infinite cubic-bezier(0, 0, 1, 1);
  }
}

@keyframes bn-rotating {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
