@import './mixins/bem.scss';

@include b(icon) {
  height: 1em;
  width: 1em;
  line-height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  
  > svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: bottom;
  }

  &-loading {
    animation: bn-rotating 1s infinite cubic-bezier(0,0,1,1);
  }
}

@keyframes bn-rotating {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

