@import './mixins/bem.scss';

@include b(icon) {
  display: inline-block;
  line-height: 1;
  color: inherit;
  font-size: inherit;
  
  > svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    outline: none;
    
  }

  &-loading {
    animation: bn-rotating 1s infinite cubic-bezier(0,0,1,1);
  }
}

@keyframes bn-rotating {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

