@use './common/var.scss';
@use './button.scss';
@use './icon.scss';
@use './space.scss';
@use './input.scss';
@use './checkbox.scss';
@use './radio.scss';
@use './form.scss';
@use './switch.scss';
@use './trigger.scss';
@use './select.scss';
@use './scrollbar.scss';
@use './message.scss';
@use './pagination.scss';
@use './dialog.scss';
@use './tooltip.scss';
@use './message-box.scss';
@use './drawer.scss';
@use './notification.scss';
@use './table.scss';
@use './empty.scss';
@use './tabs.scss';
@use './popconfirm.scss';
@use './loading.scss';
@use './progress.scss';
@use './tag.scss';
@use './badge.scss';
@use './cascader.scss';
@use './descriptions.scss';
@use './popup.scss';
@use './dropdown.scss';
@use './date-picker.scss';
@use './tree.scss';

// animation
@use './animation/index.scss';

// other
@use './select-trigger.scss';
@use './date-trigger.scss';
