@import './mixins/bem.scss';


@include b(message-box) {

  @include e(header) {
    padding: 42px 0 20px;
    line-height: 1;
  }
  @include e(body) {
    padding: 0 48px;
    box-sizing: border-box;
  }

  @include e(footer) {
    padding-top: 30px;
    padding-bottom: 46px;
    box-sizing: border-box;
  }

  @include e(content) {
    font-weight: 600;
    color: #242934;
    line-height: 28px;
    font-size: 20px;
    text-align: center;
  }
}