@import './mixins/bem.scss';



@include b(message) {
  --bn-message-height: 56px;
  --bn-message-width: 420px;
  --bn-border-radius: 8px;

  --bn-success-background-color: #EFFCF9;
  --bn-success-color: #2ED4A9;

  --bn-warning-background-color: #FFFBEE;
  --bn-warning-color: #FFC420;

  --bn-strong-background-color: #FFF4EE;
  --bn-strong-color: #FF7125;

  --bn-error-background-color: #FEF2F2;
  --bn-error-color: #F12525;

  --bn-info-background-color: #edf2fc;
  --bn-info-color: #909399;
  

  

  position: fixed;
  left: 50%;
  width: var(--bn-message-width);
  height: var(--bn-message-height);
  border-radius: var(--bn-border-radius);
  padding: 0 16px 0 24px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  transform: translate(-50%,0);

  @include e(show-close) {
    justify-content: space-between;
  }

  @include e(close-icon) {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    &:hover{
      background-color: #c5c9d4;
    }
    &:hover::before,
    &:hover::after {
      height: 70%;
      background-color: #fff;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      height: 70%;
      width: 1px;
      background-color: #bfc5d2;
      transform: translate(-50%,-50%) rotate(45deg);
      transition: background-color 0.2s;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      height: 70%;
      width: 1px;
      background-color: #bfc5d2;
      transform: translate(-50%,-50%) rotate(-45deg);
      transition: background-color 0.2s;
    }
  }
  
  @include m(success) {
    background-color: var(--bn-success-background-color);
    color: var(--bn-success-color);
  }

  @include m(warning) {
    background-color: var(--bn-warning-background-color);
    color: var(--bn-warning-color);
  }

  @include m(strong) {
    background-color: var(--bn-strong-background-color);
    color: var(--bn-strong-color);
  }

  @include m(error) {
    background-color: var(--bn-error-background-color);
    color: var(--bn-error-color);
  }

  @include m(info) {
    background-color: var(--bn-info-background-color);
    color: var(--bn-info-color);
  }



  @include when(center) {
    justify-content: center;
  }
}



.#{$namespace}-message-slide-top-enter-from,
.#{$namespace}-message-slide-top-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}

.#{$namespace}-message-slide-top-enter-to {
  opacity: 1;
  transform: translate(-50%, 0)
}