@use './mixins/bem.scss' as *;

@include b(notification) {
  position: relative;
  border-radius: 8px;
  padding: 24px 20px;
  width: max-content;
  width: 420px;
  background: #fff;
  box-shadow: 0 8px 40px 0 rgb(100 107 122 / 15%);
  box-sizing: border-box;

  &.is-top {
    transition: top .2s, transform .2s ease, opacity .2s;
  }

  &.is-bottom {
    transition: bottom .2s, transform .2s ease, opacity .2s;
  }

  @include e(icon) {
    margin-right: 8px;

    &.is-info {
      color: var(--bn-primary);
    }

    &.is-success {
      color: var(--bn-success);
    }

    &.is-warning {
      color: var(--bn-warning);
    }

    &.is-strong {
      color: var(--bn-strong);
    }

    &.is-error {
      color: var(--bn-danger);
    }
  }

  @include e(header) {
    display: inline-flex;
  }

  @include e(title) {
    font-size: 18px;
    font-weight: 600;
    color: #242934;
    line-height: 1;
  }

  @include e(message) {
    box-sizing: border-box;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 400;
    color: #646b7a;
    line-height: 1;
  }

  @include e(close-icon) {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 14px;
    height: 14px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 1px;
      height: 100%;
      background-color: #9ca6b9;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      width: 1px;
      height: 100%;
      background-color: #9ca6b9;
    }
  }
}

.bn-notification-slide-right-enter-from {
  transform: translateX(100%);
}

.bn-notification-slide-right-enter-to {
  transform: translateX(0);
}

.bn-notification-slide-left-enter-from {
  transform: translateX(-100%);
}

.bn-notification-slide-left-enter-to {
  transform: translateX(0);
}

.bn-notification-slide-right-leave-from,
.bn-notification-slide-left-leave-from {
  opacity: 1;
}

.bn-notification-slide-right-leave-to,
.bn-notification-slide-left-leave-to {
  opacity: 0;
}
