@use './mixins/bem.scss' as *;

@include b(pagination) {
  --bn-pagination-pager-number-size: 32px;
  --bn-pagination-pager-number-radius: 4px;
  --bn-pagination-pager-number-color: #9ca6b9;
  --bn-pagination-pager-number-hover-color: var(--bn-primary);
  --bn-pagination-pager-number-active-background-color: var(--bn-primary);
  --bn-pagination-btn-color: #9ca6b9;
  --bn-pagination-btn-size: 32px;
  --bn-pagination-btn-radius: 4px;
  --bn-pagination-btn-focus-color: var(--bn-primary);
  --bn-pagination-btn-focus-background-color: rgb(0 86 255 / 3%);
  --bn-pagination-sizes-width: 95px;
}

@include b(pagination) {
  display: inline-flex;
  align-items: center;
}

@include b(pagination-total) {
  margin-right: 10px;
  font-size: 14px;
  flex-shrink: 0;
  // color: var(--bn-pagination-pager-number-color);
}

@include b(pagination-pager) {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;

  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e1e4e8;
    border-radius: var(--bn-pagination-pager-number-radius);
    width: var(--bn-pagination-pager-number-size);
    height: var(--bn-pagination-pager-number-size);
    font-size: 14px;
    color: var(--bn-pagination-pager-number-color);
    background-color: #fff;
    cursor: pointer;
    user-select: none;

    & + .number {
      margin-left: 4px;
    }

    &:hover {
      border-color: var(--bn-pagination-pager-number-hover-color);
      color: #000;
    }

    &.is-active {
      border-color: var(--bn-pagination-pager-number-hover-color);
      color: #fff;
      background-color: var(--bn-pagination-pager-number-active-background-color);
    }
  }

  .more {
    display: flex;
    justify-content: center;
    width: var(--bn-pagination-pager-number-size);
    height: var(--bn-pagination-pager-number-size);

    &::before {
      content: '...';
      color: var(--bn-pagination-pager-number-color);
    }
  }
}

@include b(pagination-prev) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: 4px;
  border: none;
  border: 1px solid #e1e4e8;
  border-radius: var(--bn-pagination-btn-radius);
  padding: 0;
  width: var(--bn-pagination-btn-size);
  height: var(--bn-pagination-btn-size);
  color: var(--bn-pagination-btn-color);
  background-color: #fff;
  outline: none;
  cursor: pointer;

  &:hover:not(.is-disabled) {
    border-color: var(--bn-pagination-btn-focus-color);
    color: #000;
  }

  &:focus:not(.is-disabled) {
    border-color: var(--bn-pagination-btn-focus-color);
    color: var(--bn-pagination-btn-focus-color);
    background-color: var(--bn-pagination-btn-focus-background-color);
  }

  @include when('disabled') {
    cursor: not-allowed;
  }
}

@include b(pagination-next) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-left: 4px;
  border: none;
  border: 1px solid #e1e4e8;
  border-radius: var(--bn-pagination-btn-radius);
  padding: 0;
  width: var(--bn-pagination-btn-size);
  height: var(--bn-pagination-btn-size);
  color: var(--bn-pagination-btn-color);
  background-color: #fff;
  outline: none;
  cursor: pointer;

  &:focus:not(.is-disabled) {
    border-color: var(--bn-pagination-btn-focus-color);
    color: var(--bn-pagination-btn-focus-color);
    background-color: var(--bn-pagination-btn-focus-background-color);
  }

  &:hover:not(.is-disabled) {
    border-color: var(--bn-pagination-btn-focus-color);
    color: #000;
  }

  @include when('disabled') {
    cursor: not-allowed;
  }
}

@include b(pagination-sizes) {
  margin-left: 16px;
  > .#{$namespace}-select {
    width: var(--bn-pagination-sizes-width);
  }
}

@include b(pagination-jumper) {
  display: inline-flex;
  align-items: center;
  margin-left: 16px;
  font-size: 14px;

  > span {
    flex-shrink: 0;
  }
  > .#{$namespace}-input {
    margin: 0 6px;
    width: 58px;
    .#{$namespace}-input__inner {
      text-align: center;
    }
  }
}
