@use './mixins/bem.scss' as *;

@include b(progress) {
  --bn-progress-track-background-color: #e5e6eb;
  --bn-progress-bar-background-color: var(--bn-primary);
  --bn-progress-buffer-background-color: var(--bn-primary-6);
  --bn-progress-text-color: var(--bn-text-color);
  --bn-progress-text-font-size: 12px;

  line-height: 1;
}

@include b(progress-line) {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;

  @include e(track) {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 100px;
    width: 100%;
    background-color: var(--bn-progress-track-background-color);
  }

  @include e(buffer) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 0 100px 100px 0;
    max-width: 100%;
    height: 100%;
    background-color: var(--bn-progress-buffer-background-color);
    transition: all .6s cubic-bezier(.34, .69, .1, 1);

    &.is-animation {
      background-image: linear-gradient(
        45deg,
        rgb(0 0 0 / 10%) 25%,
        transparent 25%,
        transparent 50%,
        rgb(0 0 0 / 10%) 50%,
        rgb(0 0 0 / 10%) 75%,
        transparent 75%,
        transparent
      );
      background-size: 1.25em 1.25em;
      animation: progress-flow 6s linear infinite;
    }
  }

  @include e(bar) {
    position: relative;
    border-radius: 100px;
    max-width: 100%;
    height: 100%;
    background-color: var(--bn-progress-bar-background-color);
    transition: width .6s cubic-bezier(.34, .69, .1, 1), background .3s cubic-bezier(.34, .69, .1, 1);
  }

  @include e(text) {
    margin-left: 8px;
    min-width: 32px;
    font-size: var(--bn-progress-text-font-size);
    text-align: right;
    white-space: nowrap;
    color: var(--bn-progress-text-color);
    flex-grow: 1;
    flex-shrink: 0;
  }
}

@keyframes progress-flow {
  0% {
    background-position: -100%;
  }

  100% {
    background-position: 100%;
  }
}

@include b(progress-circle) {
  position: relative;

  @include e(svg) {
    transform: rotate(-90deg);
  }

  @include e(track) {
    stroke: var(--bn-progress-track-background-color);
  }

  @include e(bar) {
    stroke: var(--bn-progress-bar-background-color);
    transition: stroke-dashoffset .6s cubic-bezier(0, 0, 1, 1) 0s, stroke .6s cubic-bezier(0, 0, 1, 1);
  }

  @include e(text) {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: var(--bn-progress-text-font-size);
    white-space: nowrap;
    color: var(--bn-progress-text-color);
    transform: translate(-50%, -50%);
  }
}
