@import './mixins/bem.scss';

@include b('radio') {
  position: relative;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  outline: none;
  line-height: 1;
  cursor: pointer;

  @include when(checked) {
    .#{$namespace}-radio__label {
      color: var(--bn-primary);
    }
  }

  @include when(disabled) {
    cursor: not-allowed;
    .#{$namespace}-radio__label {
      color: #c0c4cc;
    }
  }

  @include e(input) {
    @include when(disabled) {
      .#{$namespace}-radio__inner {
        border-color: #ebecef;
      }

      &.is-checked {
        .#{$namespace}-radio__inner {
          &::after {
            background-color: #c0c4cc;
          }
        }
      }

    }

    @include when(checked) {
      .#{$namespace}-radio__inner {
        &::after {
          background: var(--bn-primary);
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }

  }

  @include e(origin) {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
  }


  @include e(inner) {
    width: 16px;
    height: 16px;
    border: 1px solid #9CA6B9;
    border-radius: 100%;
    background-color: #fff;
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    transition: all 0.15s ease-in;

    &:hover {
      border-color: var(--bn-primary);
    }

    &::after {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform .15s ease-in;
    }
  }

  @include e(label) {
    padding-left: 8px;
  }

}

@include b(radio-group) {
  .#{$namespace}-radio+.#{$namespace}-radio {
    margin-left: 15px;
  }
}