@use './mixins/bem.scss' as *;

@include b(select) {
  display: inline-block;
  width: 260px;
  vertical-align: bottom;



  @include e(empty) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: 120px;
    font-size: 14px;
    color: #a8abb2;
  }
}

@include b(select-menu) {
  --bn-menu-hover-background-color: #f8faff;
  --bn-menu-disabled-color: #a8abb2;
  --bn-menu-item-height: 40px;
}

@include b(select-menu) {
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgb(100 107 122 / 15%);
  box-sizing: border-box;

  @include e(item) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0 20px;
    height: var(--bn-menu-item-height);
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--bn-default-text-color);
    box-sizing: border-box;
    cursor: pointer;

    &.is-hover {
      background-color: var(--bn-menu-hover-background-color);
    }

    &.is-disabled {
      cursor: not-allowed;
      color: var(--bn-menu-disabled-color);
    }

    &.is-selected {
      color: var(--bn-primary);
    }
  }
}
