@use './mixins/bem.scss' as *;

@include b(select) {
  display: inline-flex;
  width: 260px;
  vertical-align: bottom;

  @include e(empty) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: 120px;
    font-size: 14px;
    color: #a8abb2;
  }
}

@include b(select-menu) {
  --bn-menu-padding: 23px 0;
  --bn-menu-item-height: 40px;
  --bn-menu-item-gap-y: 6px;
  --bn-menu-item-padding: 0 24px;
}

@include b(select-menu) {
  overflow: hidden;
  border-radius: 8px;
  padding: var(--bn-menu-padding);
  background-color: #fff;
  box-shadow: 0 8px 40px 0 rgb(100 107 122 / 15%);
  box-sizing: border-box;

  @include e(item) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-bottom: var(--bn-menu-item-gap-y);
    padding: var(--bn-menu-item-padding);
    height: var(--bn-menu-item-height);
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--bn-color-1);
    box-sizing: border-box;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &.is-hover {
      background-color: var(--bn-hover-bgc);
    }

    &.is-disabled {
      cursor: not-allowed;
      color: var(--bn-disabled-color);
    }

    &.is-selected {
      color: var(--bn-select-color);
    }
  }

  @include when(compact) {
    --bn-menu-padding:8px 0;
    --bn-menu-item-height: 32px;
  }
}
