@use './mixins/bem.scss' as *;

@include b(tabs) {
  --bn-tabs-active-color: var(--bn-primary);
  --bn-tabs-ink-background-color: var(--bn-primary);
  --bn-tabs-button-active-background-color: rgb(0 86 255 / 5%);
  --bn-tabs-button-active-border-color: rgb(0 86 255 / 50%);
  --bn-tabs-button-hover-border-color: rgb(0 86 255 / 50%);
  --bn-tabs-nav-height: var(--bn-size-small);
}

@include b(tabs) {
  width: 100%;

  @include e(extra-wrapper) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  @include e(extra) {
    flex-shrink: 0;
    margin-left: 10px;
  }

  @include e(navs-wrapper) {
    display: flex;
    width: 100%;
    height: var(--bn-tabs-nav-height);

    &.is-small {
      --bn-tabs-nav-height: var(--bn-size-small);
    }

    &.is-default {
      --bn-tabs-nav-height: var(--bn-size-default);
    }

    &.is-large {
      --bn-tabs-nav-height: var(--bn-size-large);
    }
  }

  @include e(navs-viewport) {
    position: relative;
    overflow: hidden;
    flex: 1;
    height: inherit;

  }

  @include e(icon-prev) {
    margin-right: 5px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    cursor: pointer;

    &.is-disabled {
      color: var(--bn-disabled-color);
      cursor: not-allowed;
    }
  }

  @include e(icon-next) {
    margin-left: 5px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    cursor: pointer;

    &.is-disabled {
      color: var(--bn-disabled-color);
      cursor: not-allowed;
    }
  }

  @include e(navs) {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: inherit;
    transition: transform 0.3s ease;
    flex-flow: row nowrap;

    &.is-button-group {
      .#{$namespace}-tabs__navs-item {
        border-radius: 0;

        &:last-child {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        &:first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
    }
  }

  @include e(nav-ink) {
    position: absolute;
    background-color: var(--bn-tabs-ink-background-color);
    transition: all 0.3s ease;
  }

  @include e(navs-item) {
    height: inherit;
    transition: all 0.3 ease;
    cursor: pointer;
    flex-shrink: 0;
    user-select: none;

    &.is-line {
      font-size: 16px;
      color: var(--bn-text-gray-1);
      line-height: 1;

      & + & {
        margin-left: 40px;
      }

      &.is-active {
        font-weight: 600;
        color: var(--bn-tabs-active-color);
        // transform: scale(1.2);
      }
    }

    &.is-button {
      border: 1px solid var(--bn-bc);
      border-radius: 4px;
      padding: 0 28px;
      height: var(--bn-tabs-nav-height);
      font-size: 14px;
      color: var(--bn-text-gray-2);
      box-sizing: border-box;
      line-height: var(--bn-tabs-nav-height);

      & + & {
        margin-left: 6px;
      }

      &.is-active {
        border-color: var(--bn-tabs-button-active-border-color);
        font-weight: 500;
        color: var(--bn-tabs-active-color);
        background-color: var(--bn-tabs-button-active-background-color);
      }

      &:not(.is-active):hover {
        border-color: var(--bn-tabs-button-hover-border-color);
      }
    }

    &.is-button-group {
      z-index: 0;
      margin-left: -1px;
      border: 1px solid var(--bn-bc);
      border-radius: 4px;
      padding: 0 11px;
      height: var(--bn-tabs-nav-height);
      font-size: 14px;
      color: var(--bn-text-gray-2);
      box-sizing: border-box;
      line-height: var(--bn-tabs-nav-height);

      &:first-child {
        margin-left: 0;
      }

      &.is-active {
        border-color: var(--bn-tabs-active-color);
        color: #fff;
        background-color: var(--bn-tabs-active-color);
      }

      &:not(.is-active):hover {
        z-index: 1;
        border-color: var(--bn-tabs-active-color);
      }
    }
  }

  @include e(panes-viewport) {
    overflow: hidden;
    padding-top: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  @include e(panes) {
    display: flex;
    width: 100%;

    &.is-animation {
      transition: transform 0.3s ease;
    }
  }

  @include e(pane) {
    width: 100%;
    flex-shrink: 0;
  }
}
