@import './mixins/bem.scss';



@include b(tooltip) {
  box-sizing: border-box;
  max-width: 494px;
  width: max-content;
  border-radius: 4px;
  padding: 16px 0 16px 16px;
  color: #fff;
  @include e(content) {
    padding-right: 16px;
    line-height: 20px;
    font-size: 14px;
    word-wrap: break-word;
  }
}

