@use './mixins/bem.scss' as *;



@mixin ie ($element) {
  .#{$namespace}-tree__#{$element} {
    @content;
  }
}


@include b(tree) {
  --bn-tree-indent-size:18px;
  --bn-tree-indent-gap: 8px;
  --bn-tree-node-height: 32px;
  --bn-tree-line-background-color: rgb(229 230 235 / 100%);
  --bn-tree-expand-icon-color: #bec3cf;
  --bn-tree-expand-action-color: #f2f3f5;
  --bn-tree-label-color: var(--bn-color-1);
  --bn-tree-disabled-color: var(--bn-color-4);
  --bn-tree-selected-background-color: rgb(245 247 250);

}


@include b(tree) {
  @include e(node) {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: var(--bn-tree-node-height);
    font-size: var(--bn-font-size);

    &.is-focus:not(.is-selected) {
      background-color: var(--bn-tree-selected-background-color);
    }

    &.is-selected {
      background-color:var(--bn-primary-9);

        @include ie(node-label) {
          color: var(--bn-primary);
        }
    }

    &:hover:not(.is-disabled,.is-selected) {
      background-color:var(--bn-tree-selected-background-color);
    }
  }

  @include e(indent) {
    display: flex;
    height: 100%;
  }

  @include e(indent-block) {
    margin-right: var(--bn-tree-indent-gap);
    width: var(--bn-tree-indent-size);

    &.is-line {
    position: relative;

      &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%,0);
      width: 1px;
      height: 100%;
      background-color:var(--bn-tree-line-background-color);

      }
    }
  }

  @include e(placeholder) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    color: var(--bn-tree-expand-icon-color);
    cursor: pointer;


    > i {
      transition: transform 0.3s;
    }

    &.is-bottom-line {
      position: relative;

        &::after {
        content: '';
        position: absolute;
        bottom:-12px;
        left: 50%;
        transform: translate(-50%,0);
        width: 1px;
        height: calc(var(--bn-tree-node-height) / 3);
        background-color:var(--bn-tree-line-background-color);
  
        }
    }

    &.is-leaf {
      cursor: default;
      pointer-events: none;
    }

  }

  @include e(checkbox) {
    display: flex;
    align-items: center;
    margin-right: 8px;
    margin-left: 4px;
    
    .#{$namespace}-checkbox {
      --bn-checkbox-size: 14px;
    }
  }

  @include e(node-label) {
    display: flex;
    align-items: center;
    padding: 0 4px;
    height: 100%;
    color: var(--bn-tree-label-color);
    cursor: pointer;
    flex:1;
    user-select: none;

    &.is-disabled {
      cursor: not-allowed;
      color: var(--bn-tree-disabled-color);
    }
  }

  @include e(node-extra) {
    margin-left: 20px;
  }
}

