@keyframes bn-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bn-scaleright-leave-active,
.bn-scaleright-enter-active,
.bn-scaleright-t-leave-active,
.bn-scaleright-t-enter-active,
.bn-scaleright-b-leave-active,
.bn-scaleright-b-enter-active,
.bn-scaleleft-leave-active,
.bn-scaleleft-enter-active,
.bn-scaleleft-t-leave-active,
.bn-scaleleft-t-enter-active,
.bn-scaleleft-b-leave-active,
.bn-scaleleft-b-enter-active,
.bn-scaledown-leave-active,
.bn-scaledown-enter-active,
.bn-scaledown-l-leave-active,
.bn-scaledown-l-enter-active,
.bn-scaledown-r-leave-active,
.bn-scaledown-r-enter-active,
.bn-scaleup-leave-active,
.bn-scaleup-enter-active,
.bn-scaleup-l-leave-active,
.bn-scaleup-l-enter-active,
.bn-scaleup-r-leave-active,
.bn-scaleup-r-enter-active {
    transition: opacity 0.15s ease, transform 0.15s ease;
}

.bn-scaleup-leave-to,
.bn-scaleup-enter-from,
.bn-scaleup-l-leave-to,
.bn-scaleup-l-enter-from,
.bn-scaleup-r-leave-to,
.bn-scaleup-r-enter-from {
    opacity: 0;
    transform: scale(0.5);
}
.bn-scaleup-leave-from,
.bn-scaleup-enter-to,
.bn-scaleup-l-leave-from,
.bn-scaleup-l-enter-to,
.bn-scaleup-r-leave-from,
.bn-scaleup-r-enter-to {
    opacity: 1;
    transform: scale(1);
}
.bn-scaleup-leave-active,
.bn-scaleup-enter-active {
    transform-origin: top;
}
.bn-scaleup-l-leave-active,
.bn-scaleup-l-enter-active {
    transform-origin: top left;
}
.bn-scaleup-r-leave-active,
.bn-scaleup-r-enter-active {
    transform-origin: top right;
}

.bn-scaledown-leave-to,
.bn-scaledown-enter-from,
.bn-scaledown-l-leave-to,
.bn-scaledown-l-enter-from,
.bn-scaledown-r-leave-to,
.bn-scaledown-r-enter-from {
    opacity: 0;
    transform: scale(0.5);
}
.bn-scaledown-leave-from,
.bn-scaledown-enter-to,
.bn-scaledown-l-leave-from,
.bn-scaledown-l-enter-to,
.bn-scaledown-r-leave-from,
.bn-scaledown-r-enter-to {
    opacity: 1;
    transform: scale(1);
}
.bn-scaledown-leave-active,
.bn-scaledown-enter-active {
    transform-origin: bottom;
}
.bn-scaledown-l-leave-active,
.bn-scaledown-l-enter-active {
    transform-origin: bottom left;
}
.bn-scaledown-r-leave-active,
.bn-scaledown-r-enter-active {
    transform-origin: bottom right;
}

.bn-scaleleft-leave-to,
.bn-scaleleft-enter-from,
.bn-scaleleft-t-leave-to,
.bn-scaleleft-t-enter-from,
.bn-scaleleft-b-leave-to,
.bn-scaleleft-b-enter-from {
    opacity: 0;
    transform: scale(0.5);
}
.bn-scaleleft-leave-from,
.bn-scaleleft-enter-to,
.bn-scaleleft-t-leave-from,
.bn-scaleleft-t-enter-to,
.bn-scaleleft-b-leave-from,
.bn-scaleleft-b-enter-to {
    opacity: 1;
    transform: scale(1);
}
.bn-scaleleft-leave-active,
.bn-scaleleft-enter-active {
    transform-origin: left;
}
.bn-scaleleft-t-leave-active,
.bn-scaleleft-t-enter-active {
    transform-origin: top left;
}
.bn-scaleleft-b-leave-active,
.bn-scaleleft-b-enter-active {
    transform-origin: bottom left;
}

.bn-scaleright-leave-to,
.bn-scaleright-enter-from,
.bn-scaleright-t-leave-to,
.bn-scaleright-t-enter-from,
.bn-scaleright-b-leave-to,
.bn-scaleright-b-enter-from {
    opacity: 0;
    transform: scale(0.5);
}
.bn-scaleright-leave-from,
.bn-scaleright-enter-to,
.bn-scaleright-t-leave-from,
.bn-scaleright-t-enter-to,
.bn-scaleright-b-leave-from,
.bn-scaleright-b-enter-to {
    opacity: 1;
    transform: scale(1);
}
.bn-scaleright-leave-active,
.bn-scaleright-enter-active {
    transform-origin: right;
}
.bn-scaleright-t-leave-active,
.bn-scaleright-t-enter-active {
    transform-origin: top right;
}

.bn-scaleright-b-leave-active,
.bn-scaleright-b-enter-active {
    transform-origin: bottom right;
}

.bn-fade-out-enter-from,
.bn-fade-out-leave-to {
    opacity: 1;
    transform: translateX(100%);
}
.bn-fade-out-leave-from,
.bn-fade-out-enter-to {
    opacity: 0;
    transform: translateX(0%);
}
.bn-fade-out-enter-active,
.bn-fade-out-leave-active {
    transition: opacity 0.15s ease, transform 0.15s ease;
}
.bn-fade-in-enter-from,
.bn-fade-in-leave-to {
    opacity: 0;
    transform: translateX(100%);
}
.bn-fade-in-leave-from,
.bn-fade-in-enter-to {
    opacity: 1;
    transform: translateX(0%);
}
.bn-fade-in-enter-active,
.bn-fade-in-leave-active {
    transition: opacity 0.15s ease, transform 0.15s ease;
}

.bn-anim {
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

/* bn-fadetransform */
.bn-fs-leave-active,
.bn-fs-enter-active {
    transition: all 0.2s;
}

.bn-fs-enter-from {
    opacity: 0;
    transform: translateX(-30px);
    transition: all 0.2s;
}

.bn-fs-leave-to {
    opacity: 0;
    transform: translateX(30px);
    transition: all 0.2s;
}

.bn-scalein-leave-to,
.bn-scalein-enter-from {
    opacity: 0;
    transform: scale(0.5);
}
.bn-scalein-leave-from,
.bn-scalein-enter-to {
    opacity: 1;
    transform: scale(1);
}
.bn-scalein-leave-active,
.bn-scalein-enter-active {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.bn-upbit-leave-to,
.bn-upbit-enter-from {
    opacity: 0;
    transform: translateY(15px);
}
.bn-upbit-leave-from,
.bn-upbit-enter-to {
    opacity: 1;
    transform: translateY(0);
}
.bn-upbit-leave-active,
.bn-upbit-enter-active {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.bn-downbit-leave-to,
.bn-downbit-enter-from {
    opacity: 0;
    transform: translateY(-15px);
}
.bn-downbit-leave-from,
.bn-downbit-enter-to {
    opacity: 1;
    transform: translateY(0);
}
.bn-downbit-leave-active,
.bn-downbit-enter-active {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.bn-fade-leave-to,
.bn-fade-enter-from {
    opacity: 0;
}
.bn-fade-leave-from,
.bn-fade-enter-to {
    opacity: 1;
}
.bn-fade-leave-active,
.bn-fade-enter-active {
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.bn-slideup-leave-to,
.bn-slideup-enter-from {
    transform: translate3d(0, 100%, 0);
}
.bn-slideup-leave-from,
.bn-slideup-enter-to {
    transform: translate3d(0, 0, 0);
}
.bn-slideup-leave-active,
.bn-slideup-enter-active {
    transition: transform 0.3s ease;
}

.bn-slidedown-leave-to,
.bn-slidedown-enter-from {
    transform: translate3d(0, -100%, 0);
}
.bn-slidedown-leave-from,
.bn-slidedown-enter-to {
    transform: translate3d(0, 0, 0);
}
.bn-slidedown-leave-active,
.bn-slidedown-enter-active {
    transition: transform 0.3s ease;
}

.bn-slideleft-leave-to,
.bn-slideleft-enter-from {
    transform: translate3d(100%, 0, 0);
}
.bn-slideleft-leave-from,
.bn-slideleft-enter-to {
    transform: translate3d(0, 0, 0);
}
.bn-slideleft-leave-active,
.bn-slideleft-enter-active {
    transition: transform 0.3s ease;
}

.bn-slideright-leave-to,
.bn-slideright-enter-from {
    transform: translate3d(-100%, 0, 0);
}
.bn-slideright-leave-from,
.bn-slideright-enter-to {
    transform: translate3d(0, 0, 0);
}
.bn-slideright-leave-active,
.bn-slideright-enter-active {
    transition: transform 0.3s ease;
}

@keyframes bn-downbit {
    0% {
        opacity: 0.3;
        transform: translate3d(0, -15, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes bn-upbit {
    from {
        transform: translate3d(0, 15, 0);
        opacity: 0.3;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
.bn-downbit {
    z-index: 999999;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-name: bn-downbit;
}
.bn-upbit {
    z-index: 999999;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-name: bn-upbit;
}

@keyframes bn-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.bn-pulse {
    animation: bn-spin 1s infinite steps(8);
}
@keyframes bn-fade-in {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}
@keyframes bn-fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes bn-scale-in {
    0% {
        opacity: 0.3;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes bn-scale-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}
.bn-scale-in {
    animation-name: bn-scale-in;
}
.bn-scale-out {
    animation-name: bn-scale-out;
}
.bn-fade-in {
    animation-name: bn-fade-in;
}
.bn-fade-out {
    animation-name: bn-fade-out;
}

@keyframes bn-slide-up {
    from {
        transform: translate3d(0, 100%, 0);
        opacity: 0.3;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
.bn-slide-up {
    animation-name: bn-slide-up;
}
.bn-slide-up-reverse {
    animation-name: bn-slide-up;
    animation-direction: reverse;
}
