@mixin fontMx($fs, $fc, $fw) {
    font-size: $fs;
    color: $fc;
    font-weight: $fw;
}
@mixin colorMx($cs) {
    $prefix: --ph;
    @each $key, $value in $cs {
        @each $v1 in $value {
            $i: index($value, $v1);
            #{$prefix}-#{$key}-#{$i}: $v1;
        }
    }
}
@mixin blMx($bc) {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $bc;
}
@mixin tlMx($bc) {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $bc;
}
@mixin llMx($bc) {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    margin: auto;
    background-color: $bc;
}
@mixin rlMx($bc) {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    margin: auto;
    background-color: $bc;
}
@mixin disabledMx {
    background-color: var(--bn-bg-disabled) !important;
    color: var(--bn-c-disabled) !important;
    cursor: not-allowed !important;
}
@mixin input {
    flex: 1;
    border-radius: var(--bn-ip-br);
    border-color: var(--bn-ip-bc);
    border-bottom-color: var(--bn-ip-bbc);
    border-left-width: var(--bn-ip-bdl-w);
    border-right-width: var(--bn-ip-bdr-w);
    font-size: var(--bn-ip-fs);
    height: var(--bn-ip-h);
    color: var(--bn-ip-c);
    background-color: var(--bn-ip-bg);
    background-clip: padding-box;
    padding: 0 12px;
    width: 0;

    &::-webkit-input-placeholder {
        color: var(--bn-c-l2);
    }
    &:disabled::-webkit-input-placeholder {
        color: var(--bn-ip-c);
    }
}
