.bn-fade-in-standard-enter-from,
.bn-fade-in-standard-appear-from {
  opacity: 0;
}

.bn-fade-in-standard-enter-to,
.bn-fade-in-standard-appear-to {
  opacity: 1;
}

.bn-fade-in-standard-enter-active,
.bn-fade-in-standard-appear-active {
  transition: opacity 0.3s ease;
}

.bn-fade-in-standard-leave-from {
  opacity: 1;
}

.bn-fade-in-standard-leave-to {
  opacity: 0;
}

.bn-fade-in-standard-leave-active {
  transition: opacity 0.3 ease;
}

.bn-fade-in-enter-from,
.bn-fade-in-appear-from {
  opacity: 0;
}

.bn-fade-in-enter-to,
.bn-fade-in-appear-to {
  opacity: 1;
}

.bn-fade-in-enter-active,
.bn-fade-in-appear-active {
  transition: opacity 0.1s linear;
}

.bn-fade-in-leave-from {
  opacity: 1;
}

.bn-fade-in-leave-to {
  opacity: 0;
}

.bn-fade-in-leave-active {
  transition: opacity 0.1s linear;
}
